[class~="one"]{
    color:red;
    font:30px;

}

[class~="three-para"]{
    color:yellow;
    font: 100px;
}

/* 
[attributeName~="attributeValue"]
select a specific attribute value in a list
 of white-spaced separated values 
 */