#main-image{
    background: linear-gradient(to top, rgba(244, 248, 1, 0.061) 10%, transparent),url("../../skyline.jpg") center/cover no-repeat border-box fixed,lightskyblue;
    height: 100vh;
    position: relative;
}
/* 
Here I added multiple background images(image,radient
and a solid red asd as a fallback color). The images 
are stacked on top of one another with the one on the 
left being on the top */

header{
    background-color: lightblue;
}

footer{
    background-color: lightslategray;
}


body{
    margin: 0;
}

*{
    box-sizing: border-box;
}



































/* 
add height to elements if they overflow */
