body{
    background-image: url(../../skyline.jpg);
    background-size: 50%;
    background-repeat: repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat; */
}

/* Try commenting in and out one at a time the different
values and see the result */

/* repeats image if small enough

repeats only on x-axis

repeats only on y-axis

doesn't repeat image */