div {
    width: 50%;
    margin: 20px auto;
    font-size: 50px;
    background-color: cyan;
    opacity: 0.2;
}


/* To center a div element in the middle
can use margin auto for second value.
Inspect dev tools check margin of the div 
it takes equal space to left and right 
with a value of auto */
