main{
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-left: 10px;
    background-color: blueviolet;
}

body{
    padding: 0;
    font-size: 50px;
}

/* the content isn't right next to the box 
it's pushed inside to allow for 
internal spacing */

/* notice here the main inherits the font-size 
from its parent element, the body */