/* link we didn't visit yet */
a:link {
    color: red;
  }
  
 /* link we visited */
  a:visited {
    color: greenyellow;
  }
  
  /* mouse hovering over link */
  a:hover {
    color: purple;
  }
  
  /* currently selected link */
  a:active {
    color:blue;
  }

  /* :hover has to come after :link and :visited, and 
  :active must come after :hover */

  main div:first-child{
      color:yellow;
  }

  /* selects a div element inside a main where the
  div is the first child and no other html element */

  main div:last-child{
      color: salmon;
  }
  
  /* selects a div element inside a main where the
  div is the last child and no other html element */

  main div:first-of-type{
      background-color: salmon;
  }

  /* selects the first div inside a main element */


  main div:last-of-type{
    background-color: royalblue;
}

/* selects the last div inside a main element */

main div:nth-child(2){
    color: springgreen;
}

/* selects the 2nd div inside the main element */

main div:nth-of-type(3){
    color: violet;
}

/* selects the 3rd div inside the main element */

main div:nth-last-of-type(4){
    background-color: sienna
}

/* selects the 4th div inside the main element but 
starting from backwards counting */

main div:nth-of-type(even){
    font-family: cursive;
}

/* selects all even numbered divs inside a main element,
this only cars about divs in counting, not other
elements in between */

main div:nth-of-type(odd){
    text-decoration: underline;
}

/* selects all odd numbered divs inside a main element,
this only cars about divs in counting, not other
elements in between */

main div:nth-of-type(3n+2){
    box-shadow: black 10px 10px;
}

/* selects the second div in every group of 3 divs */


main div:nth-child(-n+3){
    text-align: center;
}

/* selects the first 3 divs only */

main div:nth-of-type(n+4){
    border: 10px solid green;
}

/* selects all divs after four and including 4 
as well */

section :not(div){
    background-color: orange;
}

/* selects all nested section elements not a div,
the selector you pass inside the not function adds
to the specificty*/

aside div:first-child{
    color: blueviolet;
}

aside div:first-of-type{
    text-align: center;
}

/* See the difference between first-child and first-of-type.
First-of-type works for the first occurence of an element 
but first-child means the element must strictly be the
first child. In the second aside since span is first-child 
the blueviolet color doesn't apply */

  a, div, span{
      font-size: 50px;
      margin-bottom: 20px;
  }

aside{
    background-color: blue;
}