
#main-header{
    font-size: 20px;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: hotpink;
}

/* styling on header, but keypoint is the position: fixed 
and top 0px which helps the header stay fixed to the 
visible part, now if you scroll, the header will always be 
visible on top. Try commenting the position and top out
and see the difference, if you scroll now the header 
eventually comes out of view, not fixed to the viewport,
the visible area of the webpage.

Any top left right bottom values you apply moves 
the element in relation to the viewport*/
#main-logo, nav a{
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
}

nav a{
    padding-right: 20px;
}

nav{
    display: inline-block;
    width: calc(100% - 63px);
    text-align: right;
}

main{
    padding: 80px 20px;
    background-color: rgba(0, 201, 0, 0.331);
    color: black;
}
body{
    margin: 0;
    height: calc(100% - 18px); 
}

footer{
    background-color: hotpink;
    color: whitesmoke
}

html, body{
    height: 100%;
}
*{
    box-sizing: border-box;
}