span{
    background-color: rgb(177, 230, 184);
    font-size: 30px;
    margin-right: 30px;
}

div{
    background-color: rgb(233, 227, 197);
    margin-top: 20px;
}
div span{
    background-color: sandybrown;
}
#fourth{
    width: 50%;
}
#fifth{
    width:300px;
}

/* Neither a % for width or an absolute value 
for width has an effect on changing the width 
for inline elements, check devtools the styles
are applied but taking no effect. For inline
the width is auto, it takes as much space as
content needs*/