p::first-letter{
    font-size: 50px;
}

/* While pseudo-classes change a state of an element or is 
used to be more specific about an element, pseudo-elements 
only select PARTS of an element.
Here we select the first letter in each p element */

p::first-line{
    color: blueviolet;
}

/* selects first line of an element  */

a{
    font-size: 50px;
}

a:hover::after{
    color:red;
    content: " Redirecting Link";
    font-size: 10px;
}

a:hover::before{
    color:red;
    content: " Redirecting Link";
    font-size: 10px;
}

/* Once you hover, you see some helpful text showing 
it'll navigate to a new page */

