#main-image{
    background-image: url("../../skyline.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    overflow: scroll;
    /* background-attachment: local; */
    /* background-attachment: scroll; */
    background-attachment: fixed;

}

body::-webkit-scrollbar, #main-image::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*{
    box-sizing: border-box;
    margin: 0px;
}

body, html{
    height: 100%;
    overflow: scroll;
    background-color: plum;
}

/* attachment set to local, image scrolls
along with content, fixed relative to
element's content */

/* attachment scroll, image stays in place 
and content goes above it, fixed relative
to the element itself */

/* attachment fixed, image is fixed to the viewport */
